data/*
!data/placeholder.txt
refs/*
!refs/placeholder.txt
codes/myTest.py
checkpoints/*
!checkpoints/placeholder.txt
codes/dump.py
codes/deeplabSus.py
codes/main.ipynb
codes/contourTrain.py
codes/temp.py
codes/1.tif
codes/temp.py
codes/.ipynb_checkpoints/
logs/*
!logs/placeholder.txt
!logs/history/placeholder.txt
!logs/out/placeholder.txt
infer/*
!infer/placeholder.txt