data/*
!data/placeholder.txt
refs/*
codes/myTest.py
checkpoints/*
!checkpoints/placeholder.txt
codes/dump.py
codes/deeplabSus.py
codes/main.ipynb
codes/contourTrain.py
codes/temp.py
codes/1.tif
codes/temp.py
codes/.ipynb_checkpoints/
logs/*
!logs/placeholder.txt
!logs/history/placeholder.txt
!logs/out/placeholder.txt
infer/UNet/*
infer/DeepLabV3/*
infer/DeepLabV3-UNet/*
infer/LungNet/*
!infer/DeepLabV3-UNet/2020-02-12-05-08-39/
!infer/DeepLabV3-UNet/2020-02-12-04-52-57/
dsprl.code-workspace
.idea/
.vscode/